@import "../../../styles/variables";

.viewer-list-item {
  height: 50px;
  width: 100%;
  margin: 0;
  cursor: pointer;
  position: relative;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  justify-content: center;
  align-items: flex-start;
  padding: 0 25px;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;

  &:hover {
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
  }

  &_active {
    box-shadow: inset 0px 0px 3px 1px $bbox-bg-color--selected !important;
  }

  &_opened:after,
  &_closed:after {
    content: "\25BC";
    position: absolute;
    right: 0;
    font-size: 16px;
    transform: translate(-100%, 0) rotate(180deg);
    color: $color-secondary;
  }

  &_closed:after {
    transform: translate(-100%, 0);
  }

  &__title {
    margin: 0;
  }

  &__text {
    font-size: 14px;
  }
}
