// Text
$color-secondary: grey;

// Components (toolbar, sidebar, etc.)
$component-bg-color: #f9f9fa;
$component-shadow-color: #cccccc;

// Bbox colors
$bbox-border-color: grey;
$bbox-border-color--hover: orangered;
$bbox-bg-color--selected: transparentize($bbox-border-color--hover, .5);
