@import "../../styles/variables";

.pdf-page {
  position: relative;
  background: #fff;
  margin-top: 8px;
  overflow: hidden;

  -moz-box-shadow: 0 0 4px 2px $component-shadow-color;
  -webkit-box-shadow: 0 0 4px 2px $component-shadow-color;
  box-shadow: 0 0 4px 2px $component-shadow-color;

  &_selected {
    border: 2px solid $bbox-border-color--hover;
  }
}
