@import "../../styles/variables";

.pdf-page {
  .bbox-wrapper {
    opacity: 0.75;
    isolation: isolate;
  }

  position: relative;
  background: #fff;
  margin-top: 8px;
  overflow: hidden;

  -moz-box-shadow: 0 0 4px 2px $component-shadow-color;
  -webkit-box-shadow: 0 0 4px 2px $component-shadow-color;
  box-shadow: 0 0 4px 2px $component-shadow-color;

  &_selected {
    outline: $bbox-border-color--hover solid 2px;
  }
}
