@import "../../styles/variables";

.viewer-checkbox {
  user-select: none;

  &__control {
    display: none;
  }

  &_checked > &__label:before,
  & > &__label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
  }

  &_checked > &__label:before,
  & > &__label:before {
    border-radius: 2px;
  }

  & > &__label:after {
    opacity: 0;
  }

  &_checked > &__label:after {
    opacity: 1;
  }

  &_checked > &__label,
  & > &__label {
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
  }

  &_checked > &__label:after,
  & > &__label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  &_checked > &__label:after,
  & > &__label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid $color-secondary;
    border-bottom: 4px solid $color-secondary;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
