@import "../../styles/variables";

.pdf-bbox {
  position: absolute;
  border: 2px solid $bbox-border-color;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 2;

  &:hover {
    border-color: $bbox-border-color--hover;
  }

  &_selected {
    z-index: 100;
    background: $bbox-bg-color--selected;
  }

  &_related {
    z-index: 99;
  }
}
